body {background-image: url("../images/psychic.jpg");
    background-size: 1600px;
    background-color: black;  
}

h1 {font-family: 'Cinzel Decorative', cursive;
    font-size: 55px;}

h3, h4 {font-family: 'Cinzel Decorative', cursive;}

h5 {font-family: 'Cinzel Decorative', cursive;
    font-size: 15px;
    font-weight: bold;
}

p {font-family: 'Quattrocento', serif;}

#heading {color: rgb(253, 200, 86);}

#score {text-align: center;
        background-color: rgb(108, 170, 189);
        opacity: 0.5;
        border-radius: 500px;
        border: 3px double goldenrod;
        color: rgb(49, 34, 2);}

#notifications {color: rgb(156, 169, 170);
                text-align: center;
                font-weight: bold;}              


